body{
    font-family:sans-serif;
    text-align:center;
}

#grid{
    display:grid;
    grid-template-columns:repeat(50,20px);
    justify-content:center;
    margin-top:20px;
}
.node{
    width:20px;
    height:20px;
    border:1px solid #ddd;
}
.start{
    background:green;
}
.end{
    background:red;

}
.wall{
    background:black;

}
.visited{
    background:#5bc0de;
}

